extends layout

block content
  header
    | loading...


  #game
    #players
      h3 玩家列表
      .player0(player=0)
      .player1(player=1)

    #battlefield

      .block(x=0,y=0)
      .block(x=0,y=1)
      .block(x=0,y=2)

      .block(x=1,y=0)
      .block(x=1,y=1)
      .block(x=1,y=2)

      .block(x=2,y=0)
      .block(x=2,y=1)
      .block(x=2,y=2)

    button#reset RESET
